#EXC_DIV_001{
    background-color: white;
    box-shadow: 0px 0px 15px #777;
    border-radius: 17px;
    margin-top: 100px;
    max-width: 82%;
    margin-left: auto;
    margin-right: auto;
}

#EXC_DIV_002 {
    padding-top: 40px;
    padding-left: 90px;
}

#EXC_DIV_003 h4{
    color: #2764FF;
    font-size: 14px;
    letter-spacing: 0.4em;
}

#EXC_DIV_004 h3{
    font-weight: bold;
    font-size: 35px;
}

#EXC_DIV_005 p{
    font-size: 18px;
    color: #777;
    max-width: 88%;
}


#EXC_UL_001{
    max-width: 72%;
}







