.LandingBG{
    background-image: url('../roqqu-images/container.png.jpg');
    background-repeat: no-repeat;
}

.footer {
    background-image: url('../roqqu-images/Rectangle.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: black;
    color: rgba(255, 255, 255, 0.616);
}