#WE_DIV_001{
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto;
}

#WE_DIV_002{
    background-color: #E3E9F9;
    max-width: fit-content;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    /* text-align: center; */
}

#WE_DIV_002 h4{
    color: #2764FF;
    font-size: 14px;
    font-weight: bold;
}

#WE_DIV_003{
    margin-left: auto !important;
    margin-right: auto !important;
}

/* #WE_DIV_004{
    margin-left: auto;
    margin-right: auto;
} */

#WE_DIV_004 h3{
    font-weight: bold;
    max-width: 40%;
    font-size: 35px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* #WE_DIV_005{
    margin-left: auto;
    margin-right: auto;
} */

#WE_DIV_005 p{
    padding-top: 20px;
    max-width: 37%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}